@font-face {
  font-family: 'Vazir';
  src: url('../fonts/Vazir.eot') format('eot'),
    url('../fonts/Vazir.woff') format('woff'),
    url('../fonts/Vazir.woff2') format('woff2'),
    url('../fonts/Vazir.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nahid';
  src: url('../fonts/Nahid.eot') format('eot'),
    url('../fonts/Nahid.woff') format('woff'),
    url('../fonts/Nahid.woff2') format('woff2'),
    url('../fonts/Nahid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Vazir' !important;
  direction: rtl;
}
